<mat-nav-list (click)="onCloseNav()">
  <a mat-list-item routerLink="/">
    <mat-icon>library_books</mat-icon>
    <span style="padding: 5px;">Courses</span>
  </a>
  <a mat-list-item routerLink="about">
    <mat-icon>question_answer</mat-icon>
    <span style="padding: 5px;">About</span>
  </a>
  <a mat-list-item routerLink="drag-drop-example">
    <mat-icon>drag_indicator</mat-icon>
    <span style="padding: 5px;">Drag and Drop</span>
  </a>
  <a mat-list-item routerLink="tree-demo">
    <mat-icon>park</mat-icon>
    <span style="padding: 5px;">Tree Demo</span>
  </a>
  <a mat-list-item routerLink="virtual-scrolling">
    <mat-icon>import_export</mat-icon>
    <span style="padding: 5px;">Virtual Scrollng</span>
  </a>
  <a mat-list-item>
    <mat-icon>person_add</mat-icon>
    <span style="padding: 5px;">Register</span>
  </a>
  <a mat-list-item>
    <mat-icon>account_circle</mat-icon>
    <span style="padding: 5px;">Login</span>
  </a>
</mat-nav-list>
